@tailwind base;
@tailwind components;
@tailwind utilities;



*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

:root {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
  tab-size: 4;
  //font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}


body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}


button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.my_class {
  color: red;
  &__pink {
    color: pink;
  }
}

.my__hover {
  li {
    &:after {
      transition: all ease-in-out .3s;
      background: none repeat scroll 0 0 rgb(233 213 255);
      content: "";
      display: block;
      height: 3px;
      width: 0;
    }

    &:hover {
      &:after {
        width: 100%;
      }
    }

    a {
      &:hover {
        color: rgb(233 213 255);
      }
    }
  }
}
.my__header {
  //height: 100vh;
  //background-color: red;
  padding: .5rem 2rem;
  background-image:linear-gradient(to bottom, rgba(176, 106, 179, 0.52), rgba(69, 104, 220, 0.73)), url("../public/particle-video-light.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  //background-image: url("../public/particle-video-light.mp4");
}
.my__canvas {
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

.my__typewriter {
  min-height: 250px;
  h1 {
    //width: 520px;
    letter-spacing: .15em; /* Adjust as needed */
    margin: 0 auto 50px;
  }
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.parallax {
  background-image:linear-gradient(to bottom, rgba(176, 106, 179, 0.52), rgba(69, 104, 220, 1)), url("../public/research.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.swiper {
  //background: red;
  width: 100vw;
  height: 300px;
}
.swiper2 {
  width: 100%;
  height: 300px;
}
.pulse {
  display: block;
  background: #cca92c;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(176, 106, 179, 0.4);
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: pulse 1s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(176, 106, 179, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(176, 106, 179, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(176, 106, 179, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(176, 106, 179, 0.4);
    box-shadow: 0 0 0 0 rgba(176, 106, 179, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(176, 106, 179, 0);
    box-shadow: 0 0 0 20px rgba(176, 106, 179, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(176, 106, 179, 0);
    box-shadow: 0 0 0 0 rgba(176, 106, 179, 0);
  }
}
.my__footer {
  background-image:linear-gradient(to right, rgba(176, 106, 179, 0.52), rgba(69, 104, 220, 0.73)), url("../public/analytics.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.my__form {
  background:  rgba(69, 104, 220, 0.73);
  backdrop-filter: blur(6px);
}
